body {
  /* background-color: rgb(18, 17, 22); */
  background-image: linear-gradient(90deg, rgb(32, 51, 58), rgb(1, 13, 20));
}

#root {
  color: rgb(11, 10, 36);
  margin-left: 150px;
  margin-right: 150px;
}

p {
  font-style: italic;
  margin-right: 15px;
}

/* .code {
    color: black;
  } */

.episode {
  display: flex;
  background-color: lightgrey;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-radius: 10px;
  /* border-bottom-width: thick; */
  /* border-bottom-color: darkslategray; */
}

.pic {
  align-self: center;
  margin-left: 20px;
  margin-right: 50px;
}
img {
  border-radius: 10px;
}

h3 {
  font-size: 15px;
}

a:link {
    color: rgb(22, 15, 66);
}

a:visited {
    color:  rgb(22, 15, 66);
}

a:hover {
    color: rgb(28, 9, 153);
}
